<%= javascript_include_tag "sharing.js", "experiments.js","attribution.js","resource.js" %>

<% current_user_authorized_to_manage = @protocol.can_manage? -%>
<ul class="sectionIcons">
    <li>
        <%= image_tag_for_key('arrow_left', protocol_path(@protocol), 'Return to Protocol', nil, 'Return to Protocol') -%>
    </li>
</ul>
<h1>Editing Protocol: <%= link_to(h(@protocol.title), protocol_path(@protocol)) -%></h1>
<div class="show_basic">
    <% form_for(@protocol) do |f| %>
    <div class="asset_form">
        <%= f.error_messages %>
        <p>
            <b>Title:</b>
            <br/>
            <%= f.text_area :title, :style=>"width: 100%", :rows=>2 -%>
        </p>
        <p>
            <b>Description:</b>
            <br/>
            <%= f.text_area :description, :style => "width: 100%;", :rows => 10 -%>
        </p>        
      
        <%# only the owner should get to see this option (ability to reload defaults remain in 'edit' action, but project selector is disabled) -%>
        <% if current_user_authorized_to_manage -%>
            <%= render :partial => "projects/project_selector", :locals => { :resource => @protocol, :disable_project_select => true } -%>
        <% end -%>
        <%# only the owner should be able to change sharing permissions -%>
        <% if current_user_authorized_to_manage -%>
		
		<%= render :partial=>"assets/asset_form_bottom", :locals=> {
					:resource_type => "Protocol",
					:existing_attributions=>Authorization.authorize_collection("view", @protocol.attributions_objects, current_user),
					:existing_creators=>@protocol.creators,
					:other_creators=>@protocol.other_creators,
					:related_publications=>@protocol.related_publications,
					:show_publications=>false
				}
    	-%>
		<%= render :partial => "experiments/associate_experiments", :locals=>{:resource => @protocol, :show_relationships => false} -%>
        <% end -%>
        <p>
          <%= preview_permission_popup_link(@protocol)-%>
          <%= f.submit "Update", :id => "protocol_submit_btn", :onclick => "javascript: validateResourceFields(false, 'protocol', #{current_user_authorized_to_manage}); return(false);" -%> or <%= link_to "Cancel", protocol_path(@protocol) -%>
        </p>
		</div>
        <% end %>    
</div>
